.home {
  margin: 0.5rem;
}

.displayList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0rem 1rem 0rem 1rem;
  max-height: calc(100vh - 7.25rem);
}

.container {
  display: flex;
  margin-bottom: 1rem;
}

.container button {
  background-color: cornflowerblue;
  color: white;
  margin-left: 0.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

.container button:hover {
  background-color: rgb(100, 100, 250);
}

.container button:active {
  background-color: rgb(51, 51, 192);
}

.searchBar {
  flex: 1;
  font-size: 1.25rem;
  padding: 0.25rem;
  width: 1rem;
}

.filterBackground {
  background-color: #80808060;
  position: absolute;
  display: flex;
  justify-content: right;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw; 
}

.filterPanel {
  display: flex;
  flex-direction: column;
  width: 24rem;
  background-color: white;
}

.filterHeader {
  display: flex;
  background-color: lightgray;
  padding: 1rem;
  height: 4rem;
  justify-content: center;
}

.filterHeader > h2 {
  flex: 1;
}

.filterHeader > button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.filterSection {
  flex: 1;
  padding: 1rem;
}

.filterSection > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.filterBox {
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  border: none;
  background-color: #dcdcdc;
}

.activeBox {
  margin: 0.5rem;
  padding: 1rem;
  width: 10rem;
  border: none;
  background-color: #a0a0a0;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .filterHeader {
    background-color: black;
  }
  .filterPanel {
    background-color: gray;
  }
  .filterBox {
    background-color: #000120;
  }
  .activeBox {
    background-color: #000550;
  }
}